In [1]:
import ibm_db

In [2]:
dsn_hostname = "dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net"
dsn_uid = "fxz80947"    
dsn_pwd = "m4-k066bmrc6sqbq"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"           
dsn_port = "50000"                
dsn_protocol = "TCPIP"

In [3]:
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

#print the connection string to check correct values are specified
print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=fxz80947;PWD=m4-k066bmrc6sqbq;

In [4]:
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  fxz80947 on host:  dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net

In [6]:
dropQuery = "drop table INSTRUCTOR"
dropStmt = ibm_db.exec_immediate(conn, dropQuery)

Exception: [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  "FXZ80947.INSTRUCTOR" is an undefined name.  SQLSTATE=42704 SQLCODE=-204

In [26]:
createQuery = "create table INSTRUCTOR2(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR (20), LNAME VARCHAR (20), CITY VARCHAR (20), CCODE CHARACTER (2))"

#Now fill in the name of the method and execute the statement
createStmt = ibm_db.exec_immediate(conn, createQuery)

In [27]:
insertQuery = "insert into INSTRUCTOR2 values(1, 'RAV', 'AHUJA', 'TORONTO', 'CA')"
insertStmt = ibm_db.exec_immediate(conn, insertQuery)

In [28]:
insertQuery2 = "insert into INSTRUCTOR2 values (2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')"

insertStmt2 = ibm_db.exec_immediate(conn, insertQuery2)

In [34]:
selectQuery = "select * from INSTRUCTOR2"
selectStmt = ibm_db.exec_immediate(conn, selectQuery)
ibm_db.fetch_both(selectStmt)

{'ID': 1,
 0: 1,
 'FNAME': 'RAV',
 1: 'RAV',
 'LNAME': 'AHUJA',
 2: 'AHUJA',
 'CITY': 'TORONTO',
 3: 'TORONTO',
 'CCODE': 'CA',
 4: 'CA'}

In [35]:
while ibm_db.fetch_row(selectStmt) != False:
   print (" ID:",  ibm_db.result(selectStmt, 0), " FNAME:",  ibm_db.result(selectStmt, "FNAME"))

 ID: 2  FNAME: Raul
 ID: 3  FNAME: Hima

In [42]:
updateQuery = "update INSTRUCTOR2 set CITY='MOOSETOWN' where FNAME='Rav'"
updateStmt = ibm_db.exec_immediate(conn, updateQuery)

In [43]:
import pandas
import ibm_db_dbi

In [44]:
pconn = ibm_db_dbi.Connection(conn)

In [55]:
#query statement to retrieve all rows in INSTRUCTOR table
selectQuery = "select * from INSTRUCTOR2"

#retrieve the query results into a pandas dataframe
pdf = pandas.read_sql(selectQuery, pconn)

#print just the LNAME for first row in the pandas data frame
pdf.LNAME[0]

'AHUJA'

In [56]:
pdf

   ID FNAME      LNAME     CITY CCODE
0   1   RAV      AHUJA  TORONTO    CA
1   2  Raul      Chong  Markham    CA
2   3  Hima  Vasudevan  Chicago    US

In [57]:
pdf.shape

(3, 5)

In [58]:
ibm_db.close(conn)

True